# Django
# ---------------------------------
Django==3.2.6
django-environ==0.8.1

# django-rest-framework
# ---------------------------------
djangorestframework==3.12.4
markdown==3.3.4
django-filter==2.4.0

# django-rest-knox
django-rest-knox==4.1.0