{% include "_base.html" %}

{% block title %}Iris Index Page{% endblock %}

{% block body %}
    <div>
        <a href="{% url 'iris-create' %}">新增資料</a>
    </div>
    <div>
        <table>
            <caption>Iris Data</caption>
            <thead>
            <tr>
                <th id="id">#</th>
                <th id="sepal_length">花萼長度</th>
                <th id="sepal_width">花萼寬度</th>
                <th id="petal_length">花瓣長度</th>
                <th id="petal_width">花瓣寬度</th>
                <th id="classification">分類</th>
                <th id="function" colspan="2">功能</th>
            </tr>
            </thead>
            <tbody>
            {% for iris in iris_list %}
                <tr>
                    <td>{{ iris.id }}</td>
                    <td>{{ iris.sepal_length }}</td>
                    <td>{{ iris.sepal_width }}</td>
                    <td>{{ iris.petal_length }}</td>
                    <td>{{ iris.petal_width }}</td>
                    <td>{{ iris.classification }}</td>
                    <td><a href="{% url 'iris-update' iris.id %}">修改</a></td>
                    <td><a href="{% url 'iris-delete' iris.id %}">刪除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

